body{
    text-align: center;
    background-color: #000000;

}
#Id
<!---
PARA CRIAR A ID USA #NOME DE IDENTIFICAÇÃO DA IMAGEM
---> piscicologia

{
    width: 100%;
  <!---
quando utilizamos width : 100% deixamos a imagem escolhida com 100% de largura da tela, independente do tamanho da tela
--->
}

h1{
  height: 150px;
  <!---
define a altura do título principal
--->
    color:preto #C308A7;
        
  <!---
define a cor do título principal
--->
  background-color:cinza  #EDC100;
 <!---
define a cor de fundo do título principal
--->
  font-size:roxo 80px;
   <!---
define a altura do título principal
--->
  font-style:preto italic;
 
}
h2{
    Color:roxo   #D02C0F
 <!---
define a cor do segundo título
--->
}
